/*        */
/* IMPORT */
/*        */

@import (
	'https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap'
);

/*      */
/* SETUP */
/*      */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
	display: block;
}
audio,
canvas,
video {
	display: inline-block;
}
audio:not([controls]) {
	display: none;
	height: 0;
}
[hidden] {
	display: none;
}
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
a:focus {
	outline: thin dotted;
}
a:active,
a:hover {
	outline: 0;
}
h1 {
	font-size: 2em;
}
abbr[title] {
	border-bottom: 1px dotted;
}
b,
strong {
	font-weight: 700;
}
dfn {
	font-style: italic;
}
mark {
	background: #ff0;
	color: #000;
}
code,
kbd,
pre,
samp {
	font-family: monospace, serif;
	font-size: 1em;
}
pre {
	white-space: pre-wrap;
	word-wrap: break-word;
}
q {
	quotes: \201c \201d \2018 \2019;
}
small {
	font-size: 80%;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
img {
	border: 0;
}
svg:not(:root) {
	overflow: hidden;
}
fieldset {
	border: 1px solid silver;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}
button,
input,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0;
}
button,
input {
	line-height: normal;
}
button,html input[type=button],/* 1 */input[type=reset],input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer;
}
button[disabled],
input[disabled] {
	cursor: default;
}
input[type='checkbox'],
input[type='radio'] {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
}
input[type='search'] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}
textarea {
	overflow: auto;
	vertical-align: top;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body,
figure {
	margin: 0;
}
legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: '';
	clear: both;
	height: 0;
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
	clip: rect(00 0 0);
	overflow: hidden;
}

/*      */
/* BASE */
/*      */

html {
	font-size: 62.5%;
}

body {
	font-family: 'Poppins', sans-serif;
	height: 100vh;
}

h1 {
	font-size: 2.3rem;
	font-weight: 700;
}

h2 {
	font-size: 1.7rem;
	font-weight: 700;
}

p {
	font-size: 1.6rem;
	/* line-height: 2.2rem; */
}

a {
	font-size: 1.6rem;
	color: inherit;
}

button {
	font-size: 1.6rem;
	font-weight: 600;
}

.main-wrapper {
	padding: 0 3rem;
}

.secondary-wrapper {
	padding: 0 1.5rem;
}

.btn-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 3rem;
}

.btn {
	padding: 1rem 3rem;
	border-radius: 24px;
	background: #6e78f7;
	color: #fff;
	width: 75%;
	margin: 0 auto;
	text-align: center;
	font-weight: 600;
}

.btn-quiz {
	padding: 1rem 3rem;
	border-radius: 24px;
	background: #fff;
	border: 2px solid #6e78f7;
	color: #6e78f7;
	width: 48%;
	margin: 0 auto;
	text-align: center;
	font-weight: 600;
}

/*     */
/* APP */
/*     */

html {
	background: #f5f5f5;
}

.App {
}

/*        */
/* HEADER */
/*        */

.header {
	background: inherit;
	padding: 4rem 0;
	background: #6e78f7;
	border-radius: 0 0 24px 24px;
	color: #fff;
}

.header .main-wrapper {
	display: flex;
	justify-content: space-between;
}

.header-main {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.back-btn svg {
	font-size: 2rem;
	margin-top: 1.1rem;
	margin-right: 1.5rem;
}

.header-province svg {
	font-size: 1.3rem;
	margin-left: 0.25rem;
}

.header-province select {
	font-size: 1.8rem;
	font-weight: 600;
	color: #fff;
	background: none;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.header-province select::-ms-expand {
	display: none;
}

/*     */
/* NAV */
/*     */

.nav {
	position: -webkit-fixed;
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #fff;
	border-radius: 24px 24px 0 0;
	display: block;
	overflow: auto;
	-webkit-border-radius: 24px 24px 0 0;
	-moz-border-radius: 24px 24px 0 0;
	-ms-border-radius: 24px 24px 0 0;
	-o-border-radius: 24px 24px 0 0;
}

.nav-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.nav-item {
	padding: 1.5rem 0;
	text-align: center;
}

.nav-active {
	color: #333348;
}

.nav-active svg {
	color: #6e78f7 !important;
}

.nav-active p {
	color: #333348 !important;
}

.nav-item svg {
	font-size: 2rem;
	color: #b6bbfb;
	margin-bottom: 0.15rem;
}

.nav-item p {
	font-size: 1.2rem;
	font-weight: 600;
	color: #94949f;
}

/*      */
/* MAIN */
/*      */

.main {
	margin-top: -3rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding-bottom: 10rem;
}

.main .secondary-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

/*           */
/* INTRO BOX */
/*           */

.intro-box {
	background: #f15887;
	border-radius: 24px;
	padding: 3rem 2rem;
	color: #fff;
	-webkit-box-shadow: 0 16px 22px rgb(0, 0, 0, 0.2);
	box-shadow: 0 16px 22px rgb(0, 0, 0, 0.2);
	text-align: center;
	margin-bottom: 3rem;
}

/*           */
/* INFO BOX */
/*           */

.info-box {
	background: #fff;
	border-radius: 24px;
	padding: 3rem 2rem;
	-webkit-box-shadow: 0 16px 22px rgb(0, 0, 0, 0.2);
	box-shadow: 0 16px 22px rgb(0, 0, 0, 0.2);
}

.info-box h2 {
	margin-bottom: 1.5rem;
}

.info-box ul {
	list-style: square;
	list-style-position: inside;
	margin-left: 1rem;
	font-size: 1.5rem;
	color: #898a8f;
}

.info-box li:not(:last-child) {
	margin-bottom: 1rem;
}

.info-box p {
	margin: 1.5rem 0;
	font-size: 1.5rem;
	color: #898a8f;
}

.info-box a {
	color: #6e78f7;
}

/*                    */
/* ASSESS CENTRE CARD */
/*                    */

.assess-centre-card {
	background: #fff;
	border-radius: 24px;
	padding: 2rem;
}

.assess-centre-card:not(:last-child) {
	margin-bottom: 2rem;
}

.centre-name {
	border-bottom: 0.5px solid #ececec;
	margin-bottom: 1rem;
}

.centre-name h2 {
	margin-bottom: 1rem;
}

.centre-details {
	margin-bottom: 1.5rem;
}

.centre-detail-title {
	font-weight: 700;
}

.centre-details p {
	font-size: 1.4rem;
	color: #898a8f;
}

.centre-details a {
	font-size: 1.4rem;
	color: #6e78f7;
}

.centre-details p:not(:last-child) {
	margin-bottom: 0.5rem;
}

.centre-learn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.news iframe {
	border-radius: 24px;
}

.news iframe .timeline-Widget {
	padding: 1rem !important;
}
